<article class='testimonial-card'>
  {% if image != blank %}
    {{
      image
      | image_url: width: 450
      | image_tag:
        class: 'image testimonial-card__image',
        loading: lazy
    }}
  {% endif %}
  <section class='testimonial-card__body js-testimonial-card__body'>
    <div class='testimonial-card__content'>
      <h4 class='text text--headline text--h4 testimonial-card__title'>
        {{ title }}
      </h4>
      <span class='text text--regular testimonial-card__description'>
        {{ description }}
      </span>
    </div>
    <div class='testimonial-card__poster'>
      <span class='text text--regular testimonial-card__poster-name'>
        {{ author }}
      </span>
      <p class='text text--regular testimonial-card__poster-position'>
        {% assign escaped_position = position | escape %}
        {%- if escaped_position != blank -%}
          {{ position }}, {{ company }}
        {%- else -%}
          {{ company }}
        {%- endif -%}
      </p>
    </div>
  </section>
</article>