{%- form 'reset_customer_password' -%}
  <div class='reset-password page-width'>
    <div class='reset-password__form'>
      <div class='reset-password__container'>
        <div class='reset-password__form-info'>
          <div class='reset-password__form-header'>
            <span class='text text--headline text--h2 text--center'>
              {{ 'reset_password.title' | t }}
            </span>
          </div>

          {%- if form.errors -%}
            <div class='reset-password__form-error'>
              <svg class="icon js-icon" width="16" height="16" aria-hidden="true">
                <use xlink:href="#error"></use>
              </svg>
              <span
                class='text text--regular'
              >
                {%- for field in form.errors -%}
                  {%- if field == 'form' -%}
                    {{ form.errors.messages[field] }}
                  {%- else -%}
                    {{ 'reset_password.error' | t }}
                    {{ form.errors.messages[field] }}
                  {%- endif -%}
                {%- endfor -%}
              </span>
            </div>
          {%- endif -%}

          <div class='reset-password__form-fields'>
            <div class='reset-password__form-fields-group'>
              <div class='labeled-input'>
                <label
                  class='text text--regular text--semibold'
                  for='customer[password]'
                >
                  {{ 'reset_password.password_label' | t }}
                </label>
                <div class='input input--width-auto'>
                  <input
                    class='input__field'
                    type='password'
                    value=''
                    id='CustomerPassword'
                    placeholder='{{ 'reset_password.password_placeholder' | t }}'
                    name='customer[password]'
                    autocomplete='new-password'
                    required
                  >
                </div>
              </div>
              <div class='labeled-input'>
                <label
                  class='text text--regular text--semibold'
                  for='customer[password_confirmation]'
                >
                  {{ 'reset_password.password_confirmation_label' | t }}
                </label>
                <div class='input input--width-auto'>
                  <input
                    class='input__field'
                    type='password'
                    value=''
                    id='CustomerPasswordConfirmation'
                    placeholder='{{ 'reset_password.password_repeat_placeholder' | t }}'
                    name='customer[password_confirmation]'
                    autocomplete='new-password'
                    required
                  >
                </div>
              </div>
            </div>
            <button
              class='button button--solid button--width-auto button--padding-md'
              type='submit'
            >
              <span class='button__text'>
                {{ 'reset_password.submit_button_text' | t }}
              </span>
            </button>
            <a
              class='button button--outlined button--width-auto button--padding-md'
              href='/account/login'
            >
              <span class='button__text'>
                {{ 'reset_password.cancel_button_text' | t }}
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endform -%}

{% schema %}
{
  "name": "Reset Password",
  "settings": [],
  "presets": [
    {
      "name": "Reset Password"
    }
  ]
}
{% endschema %}
